<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap 	= "http://phonegap.com/ns/1.0"
		id			= "com.phonegap.phonegap"
		versionCode = "10"
		version		= "1.0.0" >
		
<name> Phonegap Example </name>

<description>
This is a sample Phonegap app
</description>

<author>
Mark S.
</author>

</widget>